:root{
    --nav-text-color: #333333;
    --accent-color: #4caf50;
    --accent-hover-color: #1d8121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1d1d1d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #d5d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    padding: 10px 20px;
    border-radius: 8px;  
}
nav h1{
    color: var(--nav-text-color);
    font-size: 24px;
}
nav div a{
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}
nav div a:hover{
    color: #161616;
    border:2px dashed #161616 ;
    font-weight: 400;
    border-radius: 8px;
    padding: 8px 16px;
    
    
}
nav div button{
    background-color: var(--accent-color);
    color:#ffffff;
    border:none;
    padding:8px 16px;
    font-size: 18px;
    border-radius: 8px;
}
nav div button:hover{
    background-color: var(--accent-hover-color);
}