:root{
    --nav-text-color: #333333;
    --accent-color: #4caf50;
    --accent-hover-color: #1d8121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1d1d1d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #d5d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    padding: 10px 20px;
    border-radius: 8px;  
}
nav h1{
    color: var(--nav-text-color);
    font-size: 24px;
}
nav div a{
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}
nav div a:hover{
    color: #161616;
    border:2px dashed #161616 ;
    font-weight: 400;
    border-radius: 8px;
    padding: 8px 16px;
    
    
}
nav div button{
    background-color: var(--accent-color);
    color:#ffffff;
    border:none;
    padding:8px 16px;
    font-size: 18px;
    border-radius: 8px;
}
nav div button:hover{
    background-color: var(--accent-hover-color);
}
#hero-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
}

.main-left{
    width: 80%;
    margin: 70px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 20px;
}
.main-left h2{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}
.main-left p{
    font-size: 18px;
    font-weight: 400;
    color: #d5d5d5;
    line-height: 1.5;
}
.main-left button{
    background-color: var(--accent-color);
    color:#ffffff;
    border:none;
    padding:8px 16px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    display: inline;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.main-left button:hover{
    cursor: pointer;
    background-color: var(--accent-hover-color);
    transform: scale(1.05);
}
.main-right{
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card-section{
width: 80%;
margin: 20px auto;
padding: 20px;

}
#card-title{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}
#cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.card{
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    height: 500px;
    width: 300px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}   
.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}
.card p{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
}
.card button{
    background-color: var(--accent-color);
    color:#ffffff;
    border:none;
    padding:8px 16px;
    font-size: 18px;
    border-radius: 8px;
    display: inline;
    margin-top: 20px;
    transition: all 0.3s ease;
}
.card button:hover{
    cursor: pointer;
    background-color: var(--accent-hover-color);
    transform: scale(1.05);
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #3c3c3c;
    cursor: pointer;
}
#footer-section{
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    height: 100px;
    width: 80%;
    margin: 20px auto;
}
#footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-left{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
#footer-right{
    display: flex;
    gap: 20px;
}
#footer-right a{
    color: #ffffff;
    text-decoration: none;
}
#footer-right a:hover{
    color: #717070;
    transform: scale(1.05);
    transition: all 0.3s ease;
}